.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginated {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  flex-direction: row;
  padding: 2px;
  align-items: center;
  justify-content: space-evenly;
  /* border: 5px solid red; */
}
.num {
  background-color: #be9e7af4;
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: auto;
  /* padding: 7px; */
  width: 35px;
  height: 35px;
  justify-content: center;

  font-weight: 600;
  box-shadow: 1px 3px 8px 0 black;
  margin-bottom: 1rem;
}

.num:hover {
  transition: all 0.3s ease;
  /* padding: 4px 7px; */
  background: rgba(203, 165, 39, 0.871);
  border-radius: 10px;
  box-shadow: 1px 2px 10px 0 rgb(60, 60, 60);
}

@media screen and (max-width: 768px) {
  .paginated {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .num:hover {
    transition: all 0.3s ease;
    /* padding: 3px 5px; */
    background: rgba(203, 165, 39, 0.871);
    border-radius: 10px;
    box-shadow: 1px 2px 10px 0 rgb(60, 60, 60);
  }
}
